<!doctype html>
<html>
<head>
    <title>Battleship</title>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="/css/index2.css">
</head>
<body>
    <script type="text/javascript" src="/js/client2.js"></script>
    <div class="wrapper input">
        <input id="name" type="text" placeholder="Enter your name" />
        <input id="button" type="button" value="Connect" />
    </div>
    <div class="wrapper">
        <div class="display" id="players"></div>
        <div class="display" id="observers"></div>
    </div>
</body>
</html>