<!doctype html>
<html>
<head>
    <title>Battleship</title>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <script type="text/javascript" src="/js/client.js"></script>
    <div class="wrapper">
        <div class="display" id="players">
            <input id="playersConnect" type="button" value="playersConnect"/>
        </div>
        <div class="display" id="observers">
            <input id="observersConnect" type="button" value="observersConnect"  />
        </div>
    </div>
</body>
</html>