html {
    font-family: Helvetica;
}

input {
    line-height: 40px;
    font-size: 30px;
    text-align: center;
    float: left;
    margin: 50px;
    width: 300px;
}

form {
    display: inline-block;
}

.hidden {
    visibility: hidden;
}
